<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/public/css/bootstrap.css">
        <link rel="stylesheet" href="/public/css/banner_white.css">
        <link rel="stylesheet" href="/public/css/about.css">
        <script src="//code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <title>숭실대학교 로보틱스 Re-newal Beta 0.0.1</title>
    </head>
    <body>
        <% include ./banner_white.ejs %>
        
        <div class="container" >
            <div class="content-head" >
                <h1> 404 Error</h1>
            </div>
            <div class="content-body">
               <img src="/public/image/YOU_JUST_ACTIVATED_MY_TRAP_CARD.jpg" alt="YOU_JUST_ACTIVATED_MY_TRAP_CARD">
                <audio autoplay loop>
                    <source src="/public/audio/You_just_activated_my_trap_card.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </body>
</html>