<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/public/css/bootstrap.css">
        <link rel="stylesheet" href="/public/css/banner_white.css">
        <link rel="stylesheet" href="/public/css/about.css">
        <script src="//code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <title>숭실대학교 로보틱스 Re-newal Beta 0.0.1</title>
    </head>
    <body>
        <div class="wrapper" style="min-height: calc(90vh - 200px);">
            <% include ./banner_white.ejs %>

            <div class="container" >
                <div class="content-head" >
                    <h1> 로보틱스 About</h1>
                </div>        
                    <div class="content-body">
                        <img src="/public/image/About_img.jpeg" alt="About">

                        <div>로보틱스는 1992년 한헌수 교수님의 지도하에 설립된 정보통신전자공학부의 학회입니다. 로봇에대한 관심과 열정을 가진 학생들을 시작으로, 자신의 꿈과 아이디어를 실현시키 위해 활발한 연구활동을 펼쳐 왔습니다.</div>
                        <div>&nbsp;초창기에는 학교 축제기간에 열리는 졸업작품전시회를 통해 많은 로봇작품들을출품하였으며, 회원들 간의 다양한 연구와 활동을 통해 로봇축구와 라인트레인서, 마이크로마우스등 각종 로봇 대회에 참가하여 좋은 성적을 거두었습니다.&nbsp;2016년 현재 한영준 교수님 지도아래&nbsp;20명 내외의 회원들이 자율이동 로봇을 비롯하여 휴머노이드 로봇,지능형 자동차에 이르기까지 창조적이고 다양한 로봇을 연구하고 있으며, 대외적으로도 널리 알려져 있습니다. 그리고 숭실대학교 수학 창의력 교실과 정보통신전자공학부 졸업 작품 전시회를 비롯하여 해마다 다수의 전시회를 통하여 일반인에게도 로봇이 쉽게 다가갈 수 있도록 노력하고 있습니다. 그 외에도 계절 M.T 와 체육활동, 홈커밍데이 등을 통해 동기와 선후배간의 돈독한 정을 쌓고 있습니다.</div>
                        <div>&nbsp; 로보틱스의 주 분야는 임베디드 소프트웨어입니다.&nbsp;&nbsp;지능형 모형차 대회, 웨어러블 컴퓨팅 대회, 군사과학기술 대회 및 IRC 지능형 창작로봇대회 등에서 우수한 성적을 거두고 있습니다.</div>
                        <div>&nbsp; 로봇에 대한 관심과 열정만 가지고 있다면 누구나 로보틱스의 회원이 될 수 있으며 자신이 이루고자하는 것을 이룰 수 있는 초석을 로보틱스에서 이루시길 바랍니다.</div>
                        <div>&nbsp; 열정의 로보틱스의 세계로 여러분을 초대합니다.</div>
                        <div>회장 박성호(010-5069-7331)<br />숭실대학교&nbsp;형남공학관 524호 위치</div>
                    </div>
                </div>
            </div>
           
        <% include ./footer.ejs %>
    </body>
</html>