<link rel="stylesheet" href="/public/css/footer.css">

<div class="footer-wrap">
    <div class="footer">
        <div class="footer-content">
            1920x1080 이상 해상도에 최적화되어 있으며, Google Chrome 브라우저를 권장합니다.<br>
            Copyrightⓒ JK.Lim ALL Rights Reserved.
        </div>
    </div>

</div>