<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/public/css/bootstrap.css">
        <link rel="stylesheet" href="/public/css/banner_white.css">
        <link rel="stylesheet" href="/public/css/404.css">
        <script src="//code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <title>숭실대학교 로보틱스 Re-newal Beta 0.0.1</title>
    </head>
    <body>
        <div class="wrapper" style="min-height: calc(90vh - 200px);">
            <% include ./banner_white.ejs %>

            <div class="container" >
                <div class="content-head" >
                    <h1> 로보틱스 연혁</h1>
                </div>
                <div class="content-body">
                   <div class="history">
                        <p>1992년 한헌수교수님의 지도아래 ROBOTICS 창설</p>
                        <p>1999. 10. 20&nbsp; 형남과학상 17회 금상 (곽미영)</p>
                        <p>2000. 10. 20&nbsp; 형남과학상 18회 은상 (김예빈, 장혜영, 정민석)</p>
                        <p>2001. 10. 25&nbsp; FIRA KOREA CUP 1위 (김예빈, 유재형, 송용해)</p>
                        <p>2002. 08. 14&nbsp; 중부리그 로봇축구 대회 우승 (조승덕, 정승호, 변재정)</p>
                        <p>2003. 08. 15&nbsp; 로봇도기 대회 2위 (로보틱스)</p>
                        <p>2004. 10. 05&nbsp; 로봇축구 정기 교류전 동상 (유경희, 전상욱, 성용재)<br />2004. 11. 03&nbsp; 형남과학상 22회 은상 (강복신, 유경희)</p>
                        <p>&nbsp;</p>
                        <p>2006. 11. 04&nbsp; 8회 라인트레이서 대회 장려상 (진문섭, 유재형)<br />2006. 11. 18&nbsp; 산업로봇발명 경진대회 금상 (정재식, 윤정희, 윤종훈)<br />2006. 12. 12&nbsp; 자랑스런 IT인 (정재식, 윤정희, 윤종훈)</p>
                        <p>&nbsp;</p>
                        <p>2007. 05. 05 (금)&nbsp; 창의력 교실 전시회<br />2007. 05. 12 (금)&nbsp; IT 대학 창립 기념 전시회<br />2007. 08. 14 ~ 15 여름 MT<br />2007. 09. 02 (토)&nbsp; 홈커밍데이 (제주본가, ..)</p>
                        <p>&nbsp;</p>
                        <p>2008. 01. 26 ~ 27 겨울 MT<br />2008. 05. 04 (일)&nbsp; Robo World Cup 국내대회 안드로솟 1위 (진문섭, 김병열, 정재식, 류석우)<br />2008. 05. 05 (월) &nbsp;숭실대학교 창의력교실 전시회<br />2008. 07. 23 (토)&nbsp; Robo World Cup 세계대회 안드로솟 3위 (진문섭, 김병열, 정재식, 류석우)<br />2008. 08. 29 (금)&nbsp; 여름 MT 대체 -&gt; 회식<br />2008. 09. 06 (토)&nbsp; 홈커밍데이 (큰집갈비, ..)<br />2008. 10. 04 (토)&nbsp; 2008 타이완 마이크로마우스 &amp; 인텔리젠트로봇 컨테스트 안드로솟 1위 (진문섭, 김병열, 류석우)<br />2008. 10. 19 (토)&nbsp; Robot World 2008 안드로솟 1위 (김호연, 남우진, 박준구, 박윤석, 조영규, 한성지, 황상민)<br />2008. 10. 19 (토)&nbsp; Robot World 2008 안드로솟 2위 (진문섭, 류석우)</p>
                        <p>&nbsp;</p>
                        <p>2009. 02. 5 ~ 6&nbsp; 겨울 MT</p>
                        <p>2009. 02. 20 (금)&nbsp; 숭실대학교 자랑스런 IT인 대상 (김병렬, 진문섭, 정재식)<br />2009. 05. 05 (화) &nbsp;숭실대학교 창의력교실 전시회<br />2009. 05. 09 (토)&nbsp; 창의력 교육학회 전시회<br />2009. 05. 12 (화)&nbsp; IT문화제 전시회<br />2009. 05. 23 (토)&nbsp; 한국스카우트 연맹 전시회<br />2009. 07. 17 (금)&nbsp; Robo World Cup 국내대회 안드로솟 1위 (김호연, 남우진, 박준구, 박윤석, 조영규)<br />2009. 07. 17 (금)&nbsp; Robo World Cup 국내대회 안드로솟 2위 (강병주, 이은규)<br />2009. 08. 18 ~ 20 (화 ~ 목)&nbsp; Robo World Cup 세계대회 1위 (김호연, 남우진, 박준구, 박윤석, 조영규)<br />2009. 08. 18 ~ 20 (화 ~ 목)&nbsp; Robo World Cup 세계대회 2위 (강병규, 이은규)<br />2009. 08. 21 ~ 22&nbsp; 여름 MT<br />2009. 09. 05 (토)&nbsp;&nbsp;2009 국제로봇컨테스트(IRC)&nbsp;FIRA Challenge Cup AndroSot 1위 (강병주, 이은규)<br />2009. 09. 05 (토)&nbsp; 2009 국제로봇컨테스트(IRC)&nbsp;FIRA Challenge Cup AndroSot 3위 (김호연, 남우진, 박준구, 박윤석, 조영규)<br />2009. 09. 18 (금)&nbsp; 홈커밍데이 (상도본가, ..)<br />2009. 10. 16 (금)&nbsp; 09' 졸업작품전시회</p>
                        <p>2009. 10. 29 (목)&nbsp;형남과학상 제27회 대상 (조영규, 김호연, 남우진, 박윤석, 박준구)</p>
                        <p>&nbsp;</p>
                        <p>2010. 05. 05 (수) 숭실대학교 창의력교실 전시회</p>
                        <p>2010. 05. 23 (일) Taiwan Intelligent Robot Contest Androsot 1st (조경환, 박민식)</p>
                        <p>2010. 05. 23 (일) Taiwan&nbsp;Intelligent&nbsp;Robot Contest Androsot 3rd (원종하, 안호윤)</p>
                        <p>2010. 07. 30 (금) Robo World Cup 국내대회 안드로솟 2위 (원종하, 안호윤, 박민식)</p>
                        <p>2010. 09. 04 (토) 홈커밍데이 (큰집갈비, ...)</p>
                        <p>2010. 09. 17 (금) 10' 졸업작품전시회</p>
                        <p>2010. 09. 19 (일) FIRA Robot World Cup 2010 안드로솟 2위 (원종하, 안호윤, 박민식)</p>
                        <p>&nbsp;</p>
                        <p>2011년 한영준교수님 지도</p>
                        <p>2011. 01. 28 ~ 29 (금 ~ 토) 겨울MT (강촌엘리시안)</p>
                        <p>2011. 02. 25 (금) 로보틱스 작품발표회</p>
                        <p>2011. 05. 05 (목) 숭실대학교 창의력교실 전시회</p>
                        <p>2011. 07. 14 (목) 한양대 지능형모형차대회 참가 (원종하, 조경환)</p>
                        <p>2011. 07. 20 (수) IT서포터즈(KT) 로봇체험 봉사활동 참가</p>
                        <p>2011. 07. 21 ~ 22 (목 ~ 금) 여름MT (장경리해수욕장)</p>
                        <p>2011. 08. 14 (일) 서울시립대 라인트레이서대회 참가 (이아름)</p>
                        <p>2011. 08. 28 (일) FIRA Robot World Cup 2011 안드로솟 종합 1위 (최규상, 김보영)</p>
                        <p>2011. 09. 01 (목) 한국과학기술단체총연합회 2011 이공계 과학기술동아리 지원사업 선정</p>
                        <p>2011. 09. 18 (일) 광주비엔날레 FIRA 로봇축구 전국대회 1위 (최규상, 김보영)</p>
                        <p>2011. 09. 24 (토) 홈커밍데이 (작품전시및 프리젠테이션, 큰집갈비, ...)</p>
                        <p>2011. 11.&nbsp;10 ~&nbsp;11 (목 ~ 금)&nbsp;정보통신전자공학부 졸업작품전시회(구로호텔)</p>
                        <p>&nbsp;</p>
                        <p>2012. 01. 14 (토) 인천대 라인트레이서대회 참가 (조경환, 이상수)</p>
                        <p>2012. 01. 16 ~ 17 (월 ~ 화) 겨울MT (청평)</p>
                        <p>2012. 01. 26 (목) 숭실대학교 자랑스런 IT인 대상 (최규상, 김보영)</p>
                        <p>2012. 05. 05 (토) 숭실대학교 창의력교실 전시회</p>
                        <p>2012. 06.&nbsp;08 (금) 시게이트 하드봇&nbsp;공모대전 참가 (양현진, 유신선)</p>
                        <p>2012. 06. 24 (일) 국제군사과학기술 경진대회 창착로봇 동상 (조경환, 이아름, 양현진, 유신선, 이상수)</p>
                        <p>2012. 06. 24 (일) 국제군사과학기술 경진대회 창작로봇 장려상 (강남용, 원종하, 길대현, 강선우)</p>
                        <p>2012. 07. 19 (목) 한양대 지능형모형차대회 참가 (이상수, 배현우)</p>
                        <p>2012. 08. 18 (토) 서울시립대 라인트레이서대회 참가 (김상길, 박정환)</p>
                        <p>2012. 08. 27 ~ 28 (월 ~ 화) 여름MT (가평)</p>
                        <p>2012. 09. 15 (토) 홈커밍데이 (작품전시, 큰집갈비, ...)</p>
                        <p>2012. 09. 20 ~ 22 (목 ~ 토) SITA 2012 참가 (최규상, 조경환)</p>
                        <p>2012. 10. 27 (토) SoC 로봇워 태권로봇부문 결선 (이아름, 조경환)</p>
                        <p>2012. 11. 01 ~ 02 (목 ~ 금) 정보통신전자공학부 졸업작품전시회</p>
                        <p>2012. 11. 22 ~ 23 (목 ~ 금) 2012 공학교육페스티벌 전시</p>
                        <p>2012. 11. 23 (금) 제11회 충남대 지능형 창작로봇 경연대회 격려상 (조경환, 강승미, 이아름)</p>
                        <p>2012. 12. 05 (수) 제1회 숭실대학교 창의적 아이디어 및 창업 경진대회 최우수상 (이아름, 조경환, 길대현)</p>
                        <p>2012. 12. 07 (금) 2012 대학창의발명대회 장려상 (배현우)</p>
                        <p><br />2013. 01. 04 ~ 05 (금 ~ 토) 겨울MT (비발디파크)</p>
                        <p>2013. 01. 30 (수)&nbsp;숭실대학교 자랑스런 IT인 장려상 (조경환)</p>
                        <p>2013. 05. 05 (일) 숭실대학교 창의력교실 전시회</p>
                        <p>2013. 05.&nbsp;31 (금) 제8회 한국로봇종합학술대회 우수상(최규상, 성지웅, 강승미, 엄세연, 정종호)</p>
                        <p>2013. 07. 11 (목) 국제군사과학기술 경진대회 창작로봇 참가 (이상수, 김하은, 박성호, 홍지원)</p>
                        <p>2013. 07. 11 (목) 국제군사과학기술 경진대회 창작로봇 참가&nbsp;(배현우, 신재철, 김선혜, 이종혁)</p>
                        <p>2013. 07. 11 (목) 국제군사과학기술 경진대회 창작로봇 참가&nbsp;(성지웅, 강선우, 정종호, 이문원, 유정훈)</p>
                        <p>2013. 07. 11 (목) 국제군사과학기술 경진대회 휴머노이드 참가 (엄세연, 성지웅, 강승미)</p>
                        <p>2013. 07. 18 (목) 2013 한양대 지능형모형차대회 동상 (김경은, 이아름, 이상수, 배현우)</p>
                        <p>2013. 07. 23 ~ 24 (화 ~ 수) 여름MT (가평)</p>
                        <p>2013. 08. 24 ~ 29&nbsp;(토&nbsp;~ 목) FIRA Robot World Cup 2013 안드로솟 우승 (성지웅,강승미,엄세연)</p>
                        <p>2013. 09. 28 (토) 홈커밍데이 (작품전시 및 프리젠테이션, 큰집갈비, ...)</p>
                        <p>2013. 09. 30&nbsp;(월) 2013 숭실대학교 대동제 로봇 전시</p>
                        <p>2013. 10. 4~5&nbsp;(금~토) 제 10회 도서문화축제 &nbsp;"지구를 살리는 착한 상상" 전시회 (은평구립도서관)</p>
                        <div>2013. 11. 01 (금) 정보통신전자공학부 졸업작품전시회</div>
                        <div>2013. 11. 08 (금) 2013 Wearable Computer Contest 지정공모 동상 (조경환, 이아름, 김하은)</div>
                        <div>2013. 11. 25 (월) 2013 SAP Runbetter 창업경진대회 본선 (이상수, 이아름, 홍지원, 김선혜)</div>
                        <div>2013. 11. 27&nbsp;(수) 형남과학상 제31회 은상 (이종혁, 박성호, 성지웅)</div>
                        <div>2013. 11. 27&nbsp;(수)&nbsp;형남과학상 제31회 금상 (신재철, 정종호, 이상수)</div>
                        <div>2013. 11. 28 ~ 29 (목 ~ 금) 2013 공학교육페스티벌 동아리열전 동상</div>
                        <div>2013. 12. 03 (화) 제25회 글로벌소프트웨어공모대전 은상 (조경환)</div>
                        <div>2013. 12. 07 (토) 2013 공학설계 경진대회 장려상 (신재철, 정종호, 이상수)</div>
                        <div>2013. 12. 18 (수) 제2회 숭실산업융합아이디어공모전 대상 (이상수, 이아름, 홍지원, 김선혜)</div>
                        <p>&nbsp;&nbsp;</p>
                        <p>2014. 01. 15 ~ 16 (월 ~ 화) 겨울MT (일산 원마운트)</p>
                        <div>2014. 05. 05 (월) 숭실대학교 창의력교실 전시회</div>
                        <div>2014. 05. 28 (목) 2014&nbsp;국제군사과학기술 경진대회 휴머노이드 참가 (신재철, 박성호)</div>
                        <div>2014. 05. 28 (목) 2014&nbsp;국제군사과학기술 경진대회 휴머노이드 참가 (엄세연, 성지웅, 강승미)</div>
                        <div>2014. 07. 05 (금)&nbsp;2014 Wearable Computer Contest 참가 (박상우, 박정환)</div>
                        <div>2014. 07. 17 (목) 한양대 지능형모형차대회 참가 (김하은, 박성호, 이아름, 김경은)</div>
                        <div>2014. 07. 21 (월) 전국 정보과학경시대회 장려상 (신재철)</div>
                        <div>2014. 07. 21 ~ 22(월 ~ 화) 여름MT (선재도)</div>
                        <div>2014. 08. 01 (금) FIRA KOREA CUP Androsot 우수상(박성호, 신재철)</div>
                        <div>2014. 08. 15 (금) 2014 서울시립대 라인트레이서대회 참가(차민수)</div>
                        <div>2014. 08. 29 (금)&nbsp;한양대 지능형모형차 2차대회 참가 (김하은, 박성호, 이아름, 김경은)</div>
                        <div>2014. 09. 18 (목) 제4회 캡스톤 디자인 경진대회 대상(김하은, 박정환, 김이솔, 우동혁)</div>
                        <div>2014. 09. 18 (목) 제4회 캡스톤 디자인 경진대회 최우수상(박상우, 김재성, 차민수, 최경선)</div>
                        <div>2014. 09. 18 (목) 제4회 캡스톤 디자인 경진대회 장려상(엄세연, 이규현, 최서홍, 윤준용)</div>
                        <div>2014. 09. 27 (토) 홈커밍데이 (작품전시 및 프리젠테이션, 풍년집, ...)</div>
                        <div>2014. 10. 01 (수)&nbsp;공학교육거점센터&nbsp;창의적 종합설계 경진대회 장려상(엄세연, 최서홍, 윤준용)</div>
                        <div>2014. 10. 17 (금) 숭실 IT인의 밤 행사 전시 및 수상</div>
                        <div>2014. 10. 24 (금) 2014로보월드 멀티미션분야 참가(엄세연, 강승미, 성지웅)</div>
                        <div>2014. 10. 25 (토) 2014로보월드 SeoulTech 지능로봇대회 참가(박상우, 박성호, 김재성, 최경선)</div>
                        <div>2014. 11. 07 (금) 정보통신전자공학부 졸업작품전시회</div>
                        <div>2014. 11. 14 (금) 2014 Wearable Computer Contest 지정공모 장려상 (성지웅)</div>
                        <div>2014. 11. 19 (수) 2014 임베디드 소프트웨어 경진대회 본선 (안호윤)</div>
                        <div>2014. 11. 26 (수) 2014 SAP Runbetter 창업경진대회 본선 (박성호, 김하은, 김신희)</div>
                        <div>2014. 11. 27 ~ 28 (목 ~ 금) 2014&nbsp;공학교육페스티벌 동아리열전 참가</div>
                        <div>2014. 12. 06 (토) 2014 공학설계경진대회 최우수상(차민수)</div>
                        <div>2014. 12. 06 (토) 2014 공학설계경진대회 우수상(김신희, 홍지원, 김경은)</div>
                        <div>2014. 12. 06 (토) 2014 공학설계경진대회 장려상(엄세연, 성지웅, 강승미)</div>
                        <div>&nbsp;</div>
                        <div>2015. 01. 30 ~ 31 (금 ~ 토) 겨울 MT (비발디 파크)</div>
                        <div>2015. 05. 05 (화) 숭실대학교 창의력교실 전시회</div>
                        <div>2015. 07. 06&nbsp;(월) 한국과학기술단체총연합회 2015&nbsp;이공계 과학기술동아리 지원사업 선정</div>
                        <div>2015. 07. 18&nbsp;(목) 한양대 지능형모형차대회 참가 (박정환, 김신희, 김하은)</div>
                        <div>2015. 08. 11 ~ 12 (월 ~ 화) 여름 MT (가평)</div>
                        <div>2015. 09. 12 (토) 홈커밍데이 ( 작품전시, 큰집갈비, ... )</div>
                        <div>
                        <div>2015. 09. 15 ~ 16 (화 ~ 수) 제5회 캡스톤 디자인 경진대회 우수상(김재성, 신재철, 박정환, 장민수)</div>
                        <p>2015. 09. 15 ~ 16 (화 ~ 수) 제5회 캡스톤 디자인 경진대회 장려상(홍지원, 김다혜, 정윤석, 김다슬)</p>
                        <p>2015. 09. 19 ~ 20 (토 ~ 일)&nbsp;제 12회 도서문화축제 전시회 (은평구립도서관) &amp; 은평구청장 표창</p>
                        <p>2015. 11. 06 (금) 전자정보공학부 졸업작품전시회</p>
                        <p>2015. 11. 17 ~ 19 (화 ~ 목) 2015 공학교육페스티벌 동아리열전 참가</p>
                        <p>2015. 11. 25 (수) 2015 임베디드 소프트웨어 경진대회 지능형 자동차 부문 본선 (안호윤, 김세현, 심규원)</p>
                        <p>&nbsp;</p>
                        <p>2016. 01. 29~30&nbsp;(금 ~ 토)&nbsp;로보틱스 겨울엠티(비발디 파크)</p>
                        <p>2016. 05. 05 (목) 숭실대학교 창의력교실 전시회</p>
                        <p>2016. 07. 14 (목) 한양대 지능형 모형차 대회 infineon 특별상 수상 (김상길, 정윤석, 심규원)</p>
                        <p>2016. 07. 15 ~ 16 (금 ~ 토) 여름엠티(제부도)</p>
                        <p>&nbsp;</p>
                        <p>2017. 08. 04 SOC Robot War 동상 수상(김상길, 이종혁, 박성호, 김동현)</p>
                        <p>2017. 08. 14 로보틱스 여름엠티(가평)</p>
                        <p>2017. 09. 23 홈커밍데이 (큰집갈비)</p>
                        </div>
                        <div>2017. 11. 13 로보틱스 회장선거</div>

                    </div>
                </div>
 </div>
        
        </div>
        <% include ./footer.ejs %>
    </body>
</html>