<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/public/css/bootstrap.css">
        <link rel="stylesheet" href="/public/css/banner_white.css">
        <link rel="stylesheet" href="/public/css/404.css">
        <script src="//code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <title>숭실대학교 로보틱스 Re-newal Beta 0.0.1</title>
    </head>
    <body>
        <div class="wrapper" style="min-height: calc(90vh - 200px);">
            <% include ./banner_white.ejs %>

            <div class="container" >
                <div class="content-head" >
                    <h1> 로보틱스 회칙</h1>
                </div>
                <div class="content-body">
                   <div class="rule">
                        <p>회칙</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>연혁</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>제 1 장 총 칙</p>
                        <p>&nbsp;</p>
                        <p>제 1 조 (명칭) : 이 회의 명칭은 숭실대학교 로보틱스(Soongsil Univ. Robotics)로 한다.(이하 본회)</p>
                        <p>&nbsp;</p>
                        <p>제 2 조 (목적) : 본회는 로보틱스, 정보통신, 전자, 응용소프트웨어, 네트워크와 관련되는 학문 및 산업의 발전에 기여함을 목적으로 한다.</p>
                        <p>&nbsp;</p>
                        <p>제 2 장 사 업</p>
                        <p>&nbsp;</p>
                        <p>제 3 조 (사업) : 본회는 제 2조의 목적을 달성하기 위해 로보틱스, 정보통신, 전자, 응용소프트웨어, 네트워크와 관계되는 다음의 사업을 수행한다.</p>
                        <p>&nbsp;</p>
                        <p>1. 작품 전시회의 개최</p>
                        <p>2. 최신연구 정보의 수집 및 교류</p>
                        <p>3. 홈페이지 운영</p>
                        <p>4. 공동연구과제의 개발 및 추진</p>
                        <p>5. 세미나 및 기술교육</p>
                        <p>6. 기타 필요하다고 인정되는 사업</p>
                        <p>&nbsp;</p>
                        <p>제 4 조 (학회실) : 본 회의 사무실은 숭실대학교 형남공학관 524호에 학회실에 둔다.</p>
                        <p>&nbsp;</p>
                        <p>제 3 장 활 동</p>
                        <p>&nbsp;</p>
                        <p>제 5 조 (전시회) 본 회는 졸업 작품 전시회에 매년 참가하며 필요시 교내 행사 및 외부행사에 참여 한다.</p>
                        <p>&nbsp;</p>
                        <p>제 6 조 (대 회) 본 회는 매년 실시되는 각종 로봇 경진 대회에 출전한다.</p>
                        <p>&nbsp;</p>
                        <p>제 4 장 조 직</p>
                        <p>&nbsp;</p>
                        <p>제 7 조 (회원자격) 본 회의 회원은 숭실대학교 정보통신전자공학부의 재학생으로 소정의 면접을 보아 구성한다.</p>
                        <p>&nbsp;</p>
                        <p>제 8 조 (회원구성) : 본 회는 회장 1인, 부회장 1인, 총무 1인, 각 부 부장, 로보틱스 회원으로 구성한다.</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>제 9 조 (회원의 권리와 의무) 본 회의 일반 회원은 다음과 같은 권리와 의무를 갖는다.</p>
                        <p>&nbsp;</p>
                        <p>1. 본 회의 모든 활동에 참가하여 발언, 제언, 의결할 수 있는 권리를 가지며, 본 회의 모든 시설을 이용할 수 있다.</p>
                        <p>2. 본 회의 모든 업무에 적극 참여하여야 한다.</p>
                        <p>3. 매 년 1회 이상의 작품 활동을 해야 한다.</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>제 10 조 (자격상실) 다음과 같은 사항에 해당하는 회원은 임원회의 의결에 따라 처벌한다.</p>
                        <p>&nbsp;</p>
                        <p>-신입생(기준 : 로보틱스에서 1년미만 활동한 회원)</p>
                        <p>1. 정당한 사유 없이 월3회 이상 정기 회의에 불참한자.</p>
                        <p>2. 정당한 사유 없이 2분기 이상 회비를 납부하지 아니한 자.</p>
                        <p>3. 본 회의 명예를 훼손시킨 자.</p>
                        <p>&nbsp;</p>
                        <p>-재학생(기준 : 로보틱스에서 1년이상 활동한 회원)</p>
                        <p>4. 정당한 사유 없이 월3회 이상 정기 회의에 불참한자는 회장과 면담을 통해 자격상실을 결정.</p>
                        <p>5. 정당한 사유 없이 2분기 이상 회비를 납부하지 아니한 자는 회장과 면담을 통해 자격상실을 결정.</p>
                        <p>6. 본 회의 명예를 훼손시킨 자는 회장과 면담을 통해 자격상실을 결정.</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>제 11 조 (임무) : 임원은 다음과 같은 임무를 수행한다.</p>
                        <p>&nbsp;</p>
                        <p>1. 회 장 : 회장은 회무를 총괄하고 본회를 대표한다.</p>
                        <p>2. 부 회 장 : 회장의 직무를 보좌하며, 회장 유고 시 그 직무를 대행한다.</p>
                        <p>2. 총 무 : 재정을 관리한다.</p>
                        <p>3. 교 육 : 세미나 및 교육에 대한 주요 회무를 심의, 의결한다.</p>
                        <p>4. 부 장 : 로보틱스 회원으로서 필요에 따라 선출된 담당자로 각 부문의 주요 회무를 심의, 의결한다.</p>
                        <p>&nbsp;</p>
                        <p>제 12 조 (임기) : 임원의 임기는 1년으로 하되 중임할 수 있다.</p>
                        <p>&nbsp;</p>
                        <p>제 13 조 (임원선출)</p>
                        <p>&nbsp;</p>
                        <p>1. 회장은 회원 중에서 총회의 통해 결정한다.</p>
                        <p>2. 총무는 회원 중에서 총회를 통해 결정한다.</p>
                        <p>3. 각 부장은 전체회의를 통해 결정한다.</p>
                        <p>&nbsp;</p>
                        <p>제 5 장 회 의</p>
                        <p>&nbsp;</p>
                        <p>제 14 조 (회의) : 본 회에는 아래의 회의를 하며 필요에 따라 운영위원회를 둘 수 있다.</p>
                        <p>&nbsp;</p>
                        <p>1. 정기총회 및 임시총회</p>
                        <p>2. 운영위원회</p>
                        <p>&nbsp;</p>
                        <p>제 15 조 (총회) : 정기총회는 매년 1회,임시총회는 운영진의 요구가 있을 때</p>
                        <p>회장이 소집하며 사업계획,예산 및 결산,회칙의 개정 등에 관한 사항을 심의, 의결한다.</p>
                        <p>&nbsp;</p>
                        <p>제 16 조 (운영진) : 운영진는 회장, 부회장, 총무 및 교육담당부장으로 구성되며 회장이 소집하여 총회 부의사항, 재정, 총회 및 부칙에서 부여한 사항, 기타 이 회의 사업 수행에 관한 사항을 의결한다.</p>
                        <p>&nbsp;</p>
                        <p>제 17 조 (임시총회) 본 회의 긴급 사태가 발생, 전체 회의가 필요할 때는 회장이 소집한다.</p>
                        <p>&nbsp;</p>
                        <p>제 6 장 재 정</p>
                        <p>&nbsp;</p>
                        <p>제 18 조 (재정) : 본 회의 운영에 필요한 재정은 회비 및 기타의 수입으로 충당한다.</p>
                        <p>&nbsp;</p>
                        <p>제 19 조 (회계) : 이 회의 회계년도는 정기총회일로 부터 다음 정기총회 전일까지로 한다.</p>
                        <p>&nbsp;</p>
                        <p>제 20 조 (회비) : 년간 회비는 아래와 같이 정하며, 개별 행사에 필요한 비용의 일부는 별도의 참가비를 징수하여 충당할 수 있다.</p>
                        <p>&nbsp;</p>
                        <p>1. 회원 : 6만원(1년 기준)</p>
                        <p>&nbsp;</p>
                        <p>제 7 장 지 원</p>
                        <p>&nbsp;</p>
                        <p>제 21 조 (목적) : 로보틱스를 대표해서 대회를 출전하는 회원들에게 준비 금액의 일부를 지원한다.</p>
                        <p>제 22 조 (적용범위) : 로보틱스 회원으로만 최소 3인 이상으로 구성되어 있으며 회비를 모두 납부한 회원들의 한하여 지원한다.</p>
                        <p>제 23 조 (지원 신청 및 승인): 지원받고자 하는 회원은 다음과 같은 절차를 진행해야만 한다.</p>
                        <p>&nbsp;</p>
                        <p>1. 지원 받고자 하는 로보틱스 회원은 회장에게 지원신청을 한다.</p>
                        <p>2. 회장, 부회장, 총무는 지원 가능한 금액을 책정한다.</p>
                        <p>3. 회의 시간에 지원관련 내용 및 지원금액에 대해서 토의한다.</p>
                        <p>(단, 회장은 로보틱스 전 회원들에게 지원관련 회의 공지를 최소 3일 이전에 통보해야만 한다.)</p>
                        <p>4. 토의 후, 무기명 투표를 통해 지원여부를 결정한다.</p>
                        <p>(단, 지원을 위해서는 회의 출석인원의 80%이상의 찬성이 필요하다.)</p>
                        <p>&nbsp;</p>
                        <p>제 24 조 (주의사항) : 타당한 이유없이 대회에 참가하지 않는 경우 추후 로보틱스에서의 지원에서 제외되며 자격상실의 이유가 될 수 있다.</p>
                        <p>&nbsp;</p>
                        <p>부 칙</p>
                        <p>&nbsp;</p>
                        <p>제 25 조 (공시) : 이 회칙은 2018년 01월 04일부터 시행한다.</p>
                        <p>&nbsp;</p>
                        <p>제 26 조 위 사항에 포함되지 않은 사항은 관례에 따른다.</p>
                        <p>&nbsp;</p>
                        <p>제 27 조 (개정)</p>
                        <p>&nbsp;</p>
                        <p>1. 본 회의 회칙은 회장 또는 전 회원의 1/3이상의 건의로 개정할 수 있다.</p>
                        <p>2. 본 회칙은 총회의 출석인원의 2/3 이상의 찬성에 의하여 개정할 수 있다.</p>
                        <p>&nbsp;</p>
                        <p>제 28 조 (공고 및 발효) 회장은 개정된 내용을 즉시 공고하여야 하며 그 효력은 즉시 발효한다.</p>
                        <p>&nbsp;</p>
                        <p>제 29 조 (임원 구성의 유동성) 회장단의 임원 구성은 회장, 부회장의 협의에 따라 유동성을 가질 수 있다.</p>



                    </div>
                </div>
            </div>
        </div>
        <% include ./footer.ejs %>
    </body>
</html>